#content {
    margin-top: 0px;
    padding-top: 0px;
    background-image: url("../imgs/background.jpg");
    background-repeat:repeat-y;
    background-size:contain;
    /*background-position:center;*/
}

#quote{
    background: rgba(255, 255, 255, 0.50);
    margin-bottom: 10px;
    margin-top: 10px;
    color: #000000;
}

#detail-text{
    margin-top: 20px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}


#footer-top{
    background: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    text-align: center;
}

.navbar {
    background: rgba(255, 255, 255, 0.04);
    border: dotted;
    border-color: rgba(255, 255, 255, 0);
}

#donation-btn{
    right: 8px;
    position: fixed;
    background: rgba(245, 234, 231, 0.65);
    margin-top: 100px;
    z-index: 20;
    font-weight: bolder;
    font-size: larger;
}